<div class="ae-grid au-xs-ta-center animated fadeIn">
    <div *ngFor="let miembro of _is.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="miembro.url" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{ miembro.nombre }}</h5>
        <p class="ae-u-bolder au-mb-3">{{ miembro.subtitulo }}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ miembro.frase }}</p>
        <a href="https://twitter.com/{{miembro.twitter}}" target="_blank" class="ae-u-bolder au-underline">{{ miembro.twitter }}</a>
    </div>
</div>

<p class="au-flex group-buttons"><a routerLink="home" class="arrow-button arrow-button--right arrow-button--out">Nuestro Portafolio<span class="arrow-cont">
      <svg>
        <use xlink:href="assets/img/symbols.svg#arrow"></use>
      </svg></span></a>
</p>